body {
    background: #8ec2af;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    background: #fff;
    margin: auto;
    margin-top: 5%;
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border-radius: 20px;
}

button {
    margin-top: 30px;
    background: #151461;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

.enter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px 1px;
}

.enter p {
    margin: 0px;
    font-size: 18px;
}

.enter input {
    padding-left: 20px;
    border-radius: 20px;
    width: 100%;
    height: 40px;
}

#story {
    margin-top: 30px;
    font-size: 24px;
}