body {
    background: #8eafd2;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    background: #fff;
    margin: auto;
    margin-top: 5%;
    width: 100%;
    max-width: 600px;
    padding: 50px;
    border-radius: 20px;
}

button {
    margin-top: 30px;
    background: #151461;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}